.cat-card-container{
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 12px;
    width: 250px
}

.cat-image{
    width: 100%;
    border-radius: 8px;
}

.cat-details {
    margin: 1rem;
    text-align: left;
}

.cat-details p{
    font-size: small;
}


.cat-detail-label{
    font-weight: bold;
}