.nursery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
}

.nursery-container {
    margin-top: 3rem;
}

.nursery-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}